<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    </style>
</head>
<body>
    
    <header>
        <input type="text" id="search-input" placeholder="Search...">
    </header>
    <!-- <main>
        <div class = 'product-card' >
            <h3 style="text-align: center;">TITLE</h3>
            <img src="URLIMG" alt="">
            <p>INFO</p>
            <H4>PRICE$</H4>
            <H4>Brand:$BRAND$</H4>
        
            <a href="PRODUCT_LINK">More info</a>
            </div>
    </main> -->
</body>
</html>